*,*::before,*::after{

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;

}

html{
    font-size: 62.5%;
}

body{
    font-size: 1.6rem;
    font-family: sans-serif;
    line-height: 1.6;
    color: white;
    min-height: 100vh;
    background-color: #18191A;
    position: relative;
}

/*UIS*/
.chipAvatar{
    display: flex;
    align-items: center;
    margin: 0 1rem;
    border-radius: 10rem;
    padding: 0 1.2rem 0 1rem;
}

.chipAvatar__image img{
    height: 2.5rem;
    width: 2.5rem;
    border-radius: 50%;
}

.chipAvatar:hover{
    background-color:rgb(65, 65, 65);
}

/*card avatar*/
.cardAvatar{
    display: flex;
    padding: 1rem .5rem;
    font-size: 1.6rem;
    align-items: center;
    border: 1px solid transparent;
    border-radius: 1rem;
}

.cardAvatar p{
    margin-left: 1.5rem;
}
.cardAvatar:hover{
    background-color:rgb(65, 65, 65);
}

.cardAvatar div img{
    height: 3.5rem;
    width: 3.5rem;
}
.cardAvatar img{
    height: 3.2rem;
    width: 3.2rem;
}
